<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyFeed" value="https://pkgs.dev.azure.com/eyoussef/_packaging/my-vsts-feed/nuget/v3/index.json" />
  </packageSources>
  <!-- on veut que la restauration des paquets se fasse lors du build, de manière automatique -->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
    <!-- on ne veut pas que les paquets NuGet soient archivés dans TFS -->
  <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
  <!-- on indique les sources des paquets NuGet -->
</configuration>

